<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.security.account.mapper.UserDetailsMapper">

    <!-- AuthVO에 대한 매핑 -->
<!--    <resultMap id="authMap" type="AuthVO">-->
<!--        <result property="user_id" column="user_id"/>-->
<!--        <result property="auth" column="auth"/>-->
<!--    </resultMap>-->

    <!-- MemberVO에 대한 매핑 -->
    <resultMap id="memberMap" type="MemberVO">
        <id property="user_id" column="user_id"/>
        <result property="user_id" column="user_id"/>
        <result property="password" column="password"/>
        <result property="birthdate" column="birth"/>
        <result property="update_date" column="update_date"/>
        <!-- authList 매핑 -->
<!--        <collection property="authList" resultMap="authMap"/>-->
    </resultMap>

    <!-- 사용자 정보와 권한을 조회하는 쿼리 -->
    <select id="get" resultMap="memberMap">
        select m.user_id, password, email, birthdate, reg_date, update_date
        from users m
        where m.user_id = #{user_id}
    </select>
</mapper>
